<main>
  <div class= "container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">
        <h1>本当に退会しますか？</h1>
          <h4>
            退会すると、会員登録情報や<br>
            これまでの購⼊履歴が閲覧できなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。
          </h4>
            <%= link_to "退会しない", customer_path(current_customer.id)%>
            <%= form_with model: @customer,url: withdraw_path, method: :patch, local:true do |f| %>
              <%= f.hidden_field :is_deleted, :value => 1 %>
              <%= f.submit "退会する"%>
            <% end %>
      </div>
    </div>
  </div>
</main>   