<main>
  <div class= "container p">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto ">

        <span class="text-center">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、<br>
          購⼊には会員登録が必要になります。
        </span>

            <h4>新着商品</h4>

            <% @items.each do |item|%>
            <ul class="list-unstyled">
             <li><%= link_to attachment_image_tag(item, :image, :fill, 100, 100), item_path(item.id) %></li>
             <li><%= item.name %></li>
                <li><%= item.price %></li>
            </li>
            <% end %>

            <%= link_to "全ての商品を見る", items_path%>

       </div>
    </div>       
  </div>        
</main>


