<main>
  <div class= "container ">
    <div class="row　align-items-center h-auto d-inline-block" style="width: 100%" >
      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <h1></h1>
        <span class="text-center d-flex justify-content-center">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、<br>
          購⼊には会員登録が必要になります。
        </span>
      </div>
    </div>
    <div class="row　align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <h4>新着商品</h4>
            <div class = "d-flex flex-wrap justify-content-around">
              <% @items.each do |item|%>
                <ul class="list-unstyled">
                  <li><%= link_to attachment_image_tag(item, :image, :fill, 100, 100), item_path(item.id) %></li>
                  <li><%= item.name %></li>
                  <li><%= item.price %></li>
                </ul>
              <% end %>
            </div>

            <%= link_to "全ての商品を見る", items_path %>

       </div>
    </div>       
  </div>        
</main>


