<main>
  <div class= "container px-5 px-sm-0">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

          <h1>商品一覧</h1>
          <%= @items.count%>

          <% @items.each do |item|%>
          <ul class="list-unstyled">
              <li><%= link_to attachment_image_tag(item, :image, :fill, 100, 100), item_path(item.id) %></li>
              <li><%= item.name %></li>
              <li><%= item.price %></li>
          </ul>
          <% end %>
          
      </div>
    </div>
  </div>
</main>

